body{
    font-family: Cambria; 
    /* , Cochin, Georgia, Times, 'Times New Roman', serif; */
}

#sidebar{
    background-color: rgb(168, 199, 209);
    padding-top: 20px;
}

.jumbotron{
    margin-bottom: 0px;
    text-align: center;
    background-color: rgb(168, 199, 209);
    /* border-style:solid; */
    border-bottom-style: solid;
}

.main-page{
    padding-top: 10px;
    text-align: center;
}

label{
    font-weight: bold;
}

.card-header{
    font-weight: bold;
    background-color: gainsboro;
}