body{
    font-family: Cambria; 
    /* , Cochin, Georgia, Times, 'Times New Roman', serif; */
}

#sidebar{
    background-color: rgb(189, 212, 219);
    padding-top: 20px;
}

.jumbotron{
    margin-bottom: 0px;
    text-align: center;
    background-color: rgb(168, 199, 209);
    /* border: 10px black !important; */
}

.main-page{
    padding-top: 10px;
    text-align: center;
}
